.paragraph-header {
  font-size: 1.5em
}

.paragraph-text {
  font-size: 1em
}

.fighters-head {
  margin: 0 1em 0 1em
}

.fighters-container {
  width: 20em;
  height: 30em;
  overflow: hidden;
  margin: 1em 1em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .1em;
}

.fighters-card {
  margin: 0 0 0 .2em;
  text-align: center;
  border-radius: 10px;
  box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.fighter-card {
  width: 10em;
  height: 10em;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: -2px 3px 4px 0px rgba(0, 0, 0, 0.1);
}

.fighter-img {
  width: 100%;
  height: auto;
}

.instruction-text {
  text-align: center;
  margin: 1em;
  width: 20em;
  height: 2em;
}

.ranking-card {
  cursor: pointer;
  width: 20em;
  margin: 0 0 .2em 0;
  padding: 20px;
  border: .5px solid lightgray;
  border-radius: 10px;
}

.fighter-text {
  font-size: 0.7em;
  text-align: center;
}

.score-text {
  font-size: 1.5em;
  margin: .3em 0 0 0;
}

.next-button {
  margin: 0 0 .5em 0
}

.normal-rankings-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}